<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .playlist-img {
      width: 100px;
      height: 60px;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h1 class="text-center">Your Merged Playlists</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Owner</th>
          <th>Tracks Count</th>
        </tr>
      </thead>
      <tbody>
        {{#each playlists}}
        <tr>
          <td>{{this.name}}</td>
          <td>
            {{#if this.images}}
              {{#if this.images.[0]}}
                <img src="{{this.images.[0].url}}" alt="Playlist Image" class="playlist-img">
              {{else}}
                <img src="../../views/images/default.jpg" alt="Default Image" class="playlist-img">
              {{/if}}
            {{else}}
              <img src="../../views/images/default.jpg" alt="Default Image" class="playlist-img">
            {{/if}}
          </td>
          <td>{{this.owner.display_name}}</td>
          <td>{{this.tracks.total}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
